*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* header */

.wrapper{
    line-height:8vh;
    width:100%;
    min-width: 1150px;
    padding: 0 20px;
}

header .wrapper #logo img{
    vertical-align: middle;
}

header .wrapper nav ul li{
    display: inline;
    list-style: none;
    margin-left:40px;  
}

a,
a:focus,
a:active{
    text-decoration: none;
    font-size:.8rem;
    color:black;
}

.btn{
    background-color:#0061ff;
    padding: .5rem 1.2rem;
    color:white;
}

/* jambotron */

.jambotron{
    background-color: #b4d0e7;
    max-height:80vh;
    width:100%;
    min-width:1200px;
    margin: 0 auto;
}

.jambotron-container{
    width:75%;
    margin: 0 auto;
    padding-top: 60px;
}

.jambotron-title{
    font-size:4rem;
}

.title-style{
    font-weight:700;
    margin-bottom: 30px;
}

.img-element{
    width:65%
}

.jambotron .img-element img{
    width:100%;
}


.text-element{
    width:35%;
    padding-right:30px;
}

.font-style{
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin:15px 0 30px;
}

.font-small{
    font-size: 0.7rem;
}

.text-element .fas{
    font-size:2rem;
}

/* main  */

main{
    margin:50px auto;
    width:60%;
    padding-top: 100px;
}

/* section price list */

.price-list .price-container h3{
    font-size:2.2rem;
}

.price-box{
    width:calc((100% / 3) - 40px);
    border: 2px solid black;

}

.middle-box{
    margin: 0 60px;
}

.box-title{
    border-bottom: 2px solid black;
    text-align:center;
    padding:10px;
}

.price-list ul li{
    list-style: none;
    
}

