*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* header */

.wrapper{
    line-height:10vh;
    width:100%;
    min-width: 1150px;
    padding: 0 20px;

}

header .wrapper nav ul li{
    display: inline;
    list-style: none;
    margin-left:40px;
    
    
}

a,
a:focus,
a:active{
    text-decoration: none;
    font-size:.8rem;
    color:black;
}

header .wrapper #logo img{
    vertical-align: middle;
    
}

.btn{
    background-color:#0061ff;
    padding: .5rem 1.2rem;
    color:white;
}

/* jambotron */

.jambotron{
    background-color: #b4d0e7;
    height:80vh;
    width:100%;
    margin: 0 auto;
}

.jambotron-container{
    width:75%;
    margin: 0 auto;
    padding-top: 60px;
}

.img-element{
    width:65%
}

.text-element{
    width:35%;
    padding-right:30px;
}

p{
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin:15px 0 30px;
}

.jambotron .img-element img{
    width:100%;
}

.jambotron-title{
    font-size:4rem;
}

.font-style{
    font-weight:700;
    margin-bottom: 30px;
}

.font-small{
    font-size: 0.7rem;
}

.text-element .fas{
    font-size:2rem;
}